name: Docker Stack Management

on: 
  workflow_dispatch:
    inputs:
      action:
        type: choice
        description: Select the Docker stack operation you want to execute on the remote host
        options: 
          - ps       # Show running services for the stack
          - rm       # Remove the stack
          - services # List services in the stack

jobs:
  execute-action:
    runs-on: ubuntu-latest
    steps:
      - name: Configure SSH for remote Docker host
        env:
          SSH_CONFIG: |
            Host $REMOTE_DOCKER_HOST
                HostName $REMOTE_DOCKER_HOST
                User manager
                IdentityFile ~/.ssh/docker.key
          REMOTE_DOCKER_HOST: ${{ vars.REMOTE_DOCKER_HOST }}
          REMOTE_DOCKER_SSH_PORT: ${{ vars.REMOTE_DOCKER_SSH_PORT }}
          REMOTE_DOCKER_SSH_PUBLIC_KEY: ${{ vars.REMOTE_DOCKER_SSH_PUBLIC_KEY }}
          REMOTE_DOCKER_SSH_PRIVATE_KEY: ${{ secrets.REMOTE_DOCKER_SSH_PRIVATE_KEY }}
          SSH_KNOWN_HOSTS: "[$REMOTE_DOCKER_HOST]:$REMOTE_DOCKER_SSH_PORT $REMOTE_DOCKER_SSH_PUBLIC_KEY"
        run: |
          mkdir -m 0700 ~/.ssh
          echo "\${SSH_CONFIG}" | envsubst | envsubst > ~/.ssh/config
          echo "\${SSH_KNOWN_HOSTS}" | envsubst | envsubst > ~/.ssh/known_hosts
          echo "${REMOTE_DOCKER_SSH_PRIVATE_KEY}" | base64 -d > ~/.ssh/docker.key
          chmod 600 ~/.ssh/docker.key
  
      - name: Test connection to remote Docker host
        env:
          DOCKER_HOST: "ssh://${{ vars.REMOTE_DOCKER_HOST }}:${{ vars.REMOTE_DOCKER_SSH_PORT }}"
        run: docker version

      - name: Execute Docker stack action
        env:
          DOCKER_HOST: "ssh://${{ vars.REMOTE_DOCKER_HOST }}:${{ vars.REMOTE_DOCKER_SSH_PORT }}"
        run: docker stack ${{ github.event.inputs.action }} n8n